body {
    background-color: beige;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Titulo */ 
.titulo {
    width: 1000px;
    background-color:#FA8072;
    padding: 10px;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.titulo h1 {
    font-size: 35px;
    color: beige;
}

/* Fomulario */
.formulario {
    width: 1000px;
    background-color:#FA8072;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.formulario h1 {
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
}

.control {
    width: 100%;
    background-color: beige;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid   #FA8072;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

.formulario .btn {
    width: 100%;
    background-color: beige;
    border: none;
    padding: 12px;
    margin: 16px 0;
    font-size: 15px;
}

.formulario .btn:hover {
    color: gray;
    cursor: pointer;
}

/* Ifrema e Imagen*/
.cuadro {
    width: 1000px;
    height: 650px;
    background-color:#FA8072;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 15px;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.imagenTexto {
    margin: 10px;
    width: 100%;
}

.holaMundo {
    width: 500px;
    float: left;
    margin-right: 5px;
}

.imagenTexto a {
    font-size: 30px;
}

.imagenTexto p {
    font-size: 18px;
}

/* Footer */
.enlaces {
    width: 1000px;
    background-color:#FA8072;
    padding: 10px;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    white-space: nowrap;
}

.enlaces .a {
    color: beige;
    text-decoration: none;
}

.enlaces .a:hover {
    color: grey;
    text-decoration: none;
}