body {
    background-color: beige;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Titulo */ 
.titulo {
    width: 1000px;
    background-color:#FA8072;
    padding: 10px;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.titulo h1 {
    font-size: 35px;
    color: beige;
}

